.row {
    text-align: center;
}

.card {
    margin: 0 auto;
    float: none; 
    margin-bottom: 10px; 
    margin-top: 15px;
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
 }

 input { 
    text-align: center; 
}